files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: WSGIApplicationGroup %{GLOBAL}

option_settings:

    aws:elasticbeanstalk:application:environment:
        JWT_SECRET_KEY: "MISW-4304-DevOps-Entrega1"

    aws:rds:dbinstance:
        DBName: blacklist
        DBEngine: postgres
        DBEngineVersion: '17.6'
        DBInstanceClass: db.t3.micro
        DBAllocatedStorage: 5
        DBUser: ebroot
        DBPassword: pegasus2025
        HasCoupledDatabase: true